html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: whitesmoke;
}

/* nav-h1  */

.headder-title {
  height: auto;
  border: 1rem solid black;
  background-color: black;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  font-size: 4em;
  font-family: "Work Sans", sans-serif;
}

/* header */
.header-content {
  padding: 0%;
}
img {
  width: 100%;
}

/* main section */
.row-gap-8 {
  row-gap: 32px;
}

main {
  height: auto;
  background-color: #2C3639;
}

.main-contet {
  background-color: #2C3639;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card h3 {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

/* imq gallery */
.gallery {
  background-color: #531d00;
  height: 400px;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.gallery-image {
  height: 240px;
  width: min-content;
  border: 1px solid #61481c;
}
