html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: whitesmoke;
}

/* nav-h1  */

.headder-title {
  height: auto;
  border: 1rem solid black;
  background-color: black;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  font-size: 4em;
  font-family: "Work Sans", sans-serif;
}

/* header */
.header-content {
  padding: 0%;
}
img {
  width: 100%;
}

/* main section */
.row-gap-8 {
  row-gap: 32px;
}

main {
  height: auto;
  background-color: #2c3639;
  padding-block: 3rem;
}

.main-contet {
  background-color: #2c3639;
}

.card-body {
  background-color: #3f4e4f;
}
.main-content {
  text-align: center;
}

/* imq gallery */
.gallery {
  background-color: #a27b5c;
  padding: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* caracteristics icons */
.characteristics {
  height: auto;
  background-color: #596767;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.characteristics .characteristics-title {
  font-size: 40px;
  text-align: center;
}

.icon-group {
  text-align: center;
}
.icon-group i {
  font-size: 3rem;
}

.icon-group p {
  font-size: 2rem;
  font-family: "Raleway" light, sans-serif;
}
.icon-group:hover {
  color: #ca955c;
  border: #000000;
}

/* footer */
